alabaster==0.7.10
apipkg==1.4
astropy==2.0.4
attrs==17.4.0
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
docutils==0.14
execnet==1.5.0
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
packaging==16.8
pep8==1.7.1
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.4.0
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
pytz==2018.3
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.0
sphinxcontrib-websupport==1.0.1
urllib3==1.22
